<!DOCTYPE html>
<html lang="en">
{% load jalali_tags %}
{% load static %}
{% load widget_tweaks %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">

    <title>Klassy Cafe - Restaurant HTML Template</title>
<!--
    
TemplateMo 558 Klassy Cafe

https://templatemo.com/tm-558-klassy-cafe

   <link rel ="stylesheet" type="text/css" href ="{% static 'resturan/css/style1.css' %} ">

    <!-- Additional CSS Files -->

    <link rel="stylesheet" href="{% static 'resturan/css/errorAndsucc.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    {% comment %} <link rel="stylesheet" href="{% static 'resturan/css/custom.css'%}"> {% endcomment %}


    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
 <br>
 <br>



<center>
    <div id="container">  
        <div id="error-box">
          <div class="dot"></div>
          <div class="dot two"></div>
          <div class="face2">
            <div class="eye"></div>
            <div class="eye right"></div>
            <div class="mouth sad"></div>
          </div>
          <div class="shadow move"></div>
          <div class="message">
            <h5 class="">تمام میز این نفره پرست لطفا میز دیگری انتخاب کنید!</h5>
            {% comment %} <h5>تمام میز این نفره پرست لطفا میز دیگری انتخاب کنید</h5> {% endcomment %}
          </div>
        
          <a href="home">
          <button class="button-box" >
            <h1 class="red">لرگشت</h1>
          </button>
        </a>
        </div>
    </div>
</div>
      
</center>








   
    
    
    

    
   
  </body>
</html>